/* #text2d {
    padding-left: 0px;
} */


#sketch-holder {
    width: 400px; /* Set the width of the sketch area */
    height: 400px; /* Set the height of the sketch area */
  }

.hidden{
    display: none;
  }

.show-more {
    cursor: pointer;
    color: gray;
    text-decoration: underline;
  }

.active {
    color:gray;
    text-decoration: underline;
  }

footer {
    font-size: 14px;
    text-align: left;
    padding: 20px;
    background-color: #ebebeb;
    color: #333;
  }

footer a {
    color: #002951; 
    text-decoration: none; 
  }

footer a:hover {
    color: #0044cc; 
    text-decoration: underline; 
  }

#footer-ref {
    list-style-type: none; /* Removes the bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}