/* #text2d {
    padding-left: 0px;
} */

#website-title {
  text-align: center;
  font-size: 50px;
  margin-top: 35px;
}

#sketch-holder {
    width: 400px; /* Set the width of the sketch area */
    height: 400px; /* Set the height of the sketch area */
  }

.darker {
    background-color: #9e9b9b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
  }

.hidden{
    display: none;
  }

.show-more {
    cursor: pointer;
    color: gray;
    text-decoration: underline;
  }

footer {
    font-size: 14px;
    text-align: left;
    padding: 20px;
    background-color: #ebebeb;
    color: #333;
  }

footer a {
    color: #002951; 
    text-decoration: none; 
  }

footer a:hover {
    color: #0044cc; 
    text-decoration: underline; 
  }
/* 
#footer-ref {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
} */

#dk-3d {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

#sphere-3d {
  position: relative; 
  width: 100%; 
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 100px;
}

section {
  display: none;
}
section.active {
  display: block;
}

nav {
  display: flex; /* Enables flexbox for the nav container */
  justify-content: center; /* Centers the buttons horizontally */
  padding-top: 20px;
}

/* Buttons at the top of the page */
nav a {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: #0044cc;
  border: none; 
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #0056e6;
  color: #f0f0f0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


body {
  font-family: Arial, sans-serif;
  padding: 0 20px;
  text-align: justify;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #0044cc;
}

button.toggle-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 100%;
}

button.toggle-button:hover{
  background-color: #0056e6;
  color: #f0f0f0;
}

#ref-top {
  margin-top: 55px;
  margin-bottom: 55px;
}